﻿@model BikeShopFront.Models.Item

@{
    ViewData["Title"] = "Cart";
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Remove</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>
            </tr>
        </thead>
        @if (ViewBag.cart != null)
        {
            @foreach (var item in ViewBag.cart)
            {
                <tbody>
                    <tr>
                        <td scope="row"><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Bicycles.Serialnumber">Remove</a></td>
                        <td scope="row">@item.Bicycles.Serialnumber</td>
                        <td scope="row">@item.Bicycles.Modeltype</td>
                        <td scope="row">$@item.Bicycles.Listprice</td>
                        <td scope="row">@item.Quantity</td>
                        <td scope="row">$@(item.Bicycles.Listprice * item.Quantity)</td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

<div style="float:right">
    <strong>
        <label>Order Total:</label>
        <label>
            $@ViewBag.total
        </label>
    </strong>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Continue Shopping</a>
</div>
