﻿
@{
    ViewData["Title"] = "About";
}

<h1 class="center">About Us</h1>
<img src="~/Resources/BikeGuy.jpg" alt="Covid19" style="border:thin" width="800" height="400" class="center"  />
<p class="center">
    The Bike Hub envisions millions of people riding bikes. Bicycling is an everyday, mainstream activity in communities across the country. Bicycling is recognized, accommodated, and funded as a legitimate and essential mode of transportation throughout the state. Johnson City residents embrace a healthy and active lifestyle that includes safe and convenient active transportation options. Johnson City residents embrace a healthy and active lifestyle that includes safe and convenient active transportation options. As a result, our communities benefit from improved health, stronger economies, and a higher quality of life.
    <br /> <br />
    The Bike Hub advances bicycle access, safety, and education. We encourage and promote bicycling, increased safety, and improved conditions. We unite and inspire people and provide a cohesive voice for people who ride bikes in Johnson City.
</p>




<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }
</style>


