﻿@model BikeShopFront.Models.Bicycles

@{
    ViewData["Title"] = "DeleteBike";
}

<h1>@Model.Customname</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serialnumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serialnumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customerid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customerid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modeltype)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modeltype)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paintid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paintid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Framesize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Framesize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orderdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orderdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shipdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shipemployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipemployee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frameassembler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frameassembler)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Painter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Painter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Construction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Construction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Waterbottlebrazeons)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Waterbottlebrazeons)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Letterstyleid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Letterstyleid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Storeid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Storeid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employeeid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employeeid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Toptube)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Toptube)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chainstay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chainstay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Headtubeangle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Headtubeangle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seattubeangle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seattubeangle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listprice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saleprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Saleprice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salestax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salestax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salestate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salestate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shipprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shipprice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Frameprice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Frameprice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Componentlist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Componentlist)
        </dd>
    </dl>

    <form asp-action="DeleteBikeConfirmed" asp-route-id="@Model.Serialnumber">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Bicycles</a>
    </form>
   
    
</div>