﻿@model BikeShopFront.Models.Bicycles

@{
    ViewData["Title"] = "GetBike";
}

<h1>Bicycle Information:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serialnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serialnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modeltype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modeltype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Framesize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Framesize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Construction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Construction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waterbottlebrazeons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waterbottlebrazeons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toptube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toptube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chainstay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chainstay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headtubeangle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headtubeangle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seattubeangle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seattubeangle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Listprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Listprice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salestate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salestate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipprice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipprice)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Bicycles</a>
</div>
