﻿@{
    ViewData["Title"] = " Our Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This Privacy Policy explains how your personal information is collected, used, and shared when you visit or shop with us online. We are committed to respecting the privacy and security interests of all visitors to our website. We are the sole owner of the information collected on this site. We will not disclose, sell, share or rent this information to any other individual or entity except as disclosed in this statement.

    <br /><br />

    <h2>Collection and Use of Personal, Non-Personal Data</h2>
    We reserve the right to log and analyze information gathered from a user’s visit to this website. This information includes personal (name, email address) and non-personal (browsing patterns, number of site logins) data as outlined below.

    <br /><br />

    <h2>Personal Data Use</h2>
    Personal data is collected when users provide information to us. As an example, a user may request to be added to our email communications. Additionally, when a user creates a new online account on this site, personal data, including, but not limited to, name, email address, and phone number are captured. We use this information in a number of ways as part of normal business communications. Personal data may also be used to communicate marketing or promotional information that we feel may be of interest to you. As a user, you have the option to unsubscribe from marketing or promotional email communications at any time.

    <br /><br />

    <h2>Disclosure of User Data to Third Parties</h2>
    We do not share non-personal data, as described above, with third parties.

    <br /><br />

    <h2>Account</h2>
    We reserve the right, in its sole discretion and without prior notice, to discontinue user accounts and/or passwords for any reason whatsoever.
</p>
